@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Project.Models

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Project.Services.CartService CartService

<span class="badge bg-dark text-white ms-1 rounded-pill">
    @counter
</span>

@code {
    private int counter = 0;
    private string email = "";

    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;

        if (user.Identity != null && user.Identity.Name != null)
        {
            email = user.Identity.Name;
            counter = await CartService.GetCartItemCountAsync(email);
            CartService.CartChanged += OnCartChanged;
        }
    }

    private async void OnCartChanged(object sender, EventArgs args)
    {
        if (email != "")
        {
            counter = await CartService.GetCartItemCountAsync(email);
            StateHasChanged();
        }
    }
}